* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1E2D3B;
}

header {
    background-color: #2E3A46;
}

.results {
    background-color: #1E2D3B;
}

.logo-spotify img {
    height: 60px;
    margin: 10px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


    .album {
    width: calc(20% - 40px);
    margin: 10px 20px;
    background-color: #2E3A46;
    text-align: center;
    padding: 10px;
    }

    .image-album {
        width: 0 auto;
        padding: 10px;
    }

    .image-album img {
        width: 100%;
        object-fit: cover;
    }

    .name-album {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .name-author, .year-album {
        color: gray
    }

    .year-album {

        margin-bottom: 10px;
    }
