<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <title>Sempre i dischi ma con vue + api</title>
    </head>
    <body>

        <div id="root">
            <header>
                <div class="logo-spotify">
                    <img src="../img/spotify-logo.png" alt="logo spotify">
                </div>
                
                <select class="select-genre" name="genre" v-model="genreChosed" @change="whichGenre">
                    <option value="All">All</option>
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Metal">Metal</option>
                </select>

            </header>
    
            <div class="container">
                
                <div class="album" v-for="(disk, index) in disks" :key="index">
                    <div class="image-album">
                        <img :src="disk.poster" alt="info.title">
                    </div>
                        <h4 class="name-album">{{disk.title}}</h4>
                        <div class="name-author">{{disk.author}}</div>
                        <div class="year-album">{{disk.year}}</div>
                    </div>
                
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="./js/main.js"></script>
    </body>
</html>